// Lichess is open source! See https://lichess.org/source
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1,viewport-fit=cover')
  meta(name='theme-color' content='#dbd7d1')
  title 5D Chess &bull; Free Online 5D Chess
  link(href='https://lichess1.org/assets/_NwpOs4/css/site.light.min.css' rel='stylesheet')
  link(href='https://lichess1.org/assets/_NwpOs4/css/lobby.light.min.css' rel='stylesheet')
  link#piece-sprite(href='https://lichess1.org/assets/_NwpOs4/piece-css/cburnett.css' rel='stylesheet')
  link(rel='mask-icon' href='https://lichess1.org/assets/_NwpOs4/logo/lichess.svg' style='color: black;')
  link(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-512.png' sizes='512x512')
  link(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-256.png' sizes='256x256')
  link(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-192.png' sizes='192x192')
  link(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-128.png' sizes='128x128')
  link(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-64.png' sizes='64x64')
  link#favicon(rel='icon' type='image/png' href='https://lichess1.org/assets/_CA0Yyh/logo/lichess-favicon-32.png' sizes='32x32')
  meta(name='google' content='notranslate')
  meta(property='og:url' content='https://lichess.org')
  meta(property='og:type' content='website')
  meta(property='og:site_name' content='lichess.org')
  meta(property='og:image' content='https://lichess1.org/assets/_NwpOs4/logo/lichess-tile-wide.png')

header#top
  .site-title-nav
    input#tn-tg.topnav-toggle.fullscreen-toggle(type='checkbox' autocomplete='off' aria-label='Navigation')
    label.fullscreen-mask(for='tn-tg')
    label.hbg(for='tn-tg')
      span.hbg__in
    h1.site-title
      a(href='/')
        | lichess
        span .org
    nav#topnav.hover
      section
        a(href='/')
          span.play Play
          span.home lichess.org
        div(role='group')
          a(href='/?any#hook') Create a game
      section
        a(href='/practice') Learn
        div(role='group')
          a(href='/learn') Tutorials
          a(href='https://www.youtube.com/watch?v=eqMEiBu4M1c') Videos
      section
        a(href='/analysis') Tools
        div(role='group')
          a(href='/analysis') Analysis board
          a(href='/editor') Board editor
          a(href='/paste') Import game
  .site-buttons
    #clinput
      a.link
        span(data-icon='y')
      input(spellcheck='false' autocomplete='false' aria-label='Search' placeholder='Search')
    div
      a#challenge-toggle.toggle.link
        span.data-count(title='Challenges' data-count='0' data-icon='U')
      #challenge-app.dropdown
    div
      a#notify-toggle.toggle.link
        span.data-count(title='Notifications' data-count='0' data-icon='')
      #notify-app.dropdown
    .dasher
      a#user_tag.toggle.link(href='/logout') Player
      #dasher_app.dropdown
#main-wrap.is2d
  main.lobby
    .lobby__table
      .lobby__counters
        a#nb_connected_players(href='/player')
          strong(data-count='0') 0
          |  players
        a#nb_games_in_play(href='/games')
          strong(data-count='0') 0
          |  games in play
    .lobby__app.lobby__app-pools
      .tabs-horiz
        span.active Quick pairing
        span Lobby
        span Correspondence
        span 1 game in play
      .lobby__app__content.lpools
        div(data-id='1+0')
          .clock 1+0
          .perf Bullet
        div(data-id='2+1')
          .clock 2+1
          .perf Bullet
        div(data-id='3+0')
          .clock 3+0
          .perf Blitz
        div(data-id='3+2')
          .clock 3+2
          .perf Blitz
        div(data-id='5+0')
          .clock 5+0
          .perf Blitz
        div(data-id='5+3')
          .clock 5+3
          .perf Blitz
        div(data-id='10+0')
          .clock 10+0
          .perf Rapid
        div(data-id='10+5')
          .clock 10+5
          .perf Rapid
        div(data-id='15+10')
          .clock 15+10
          .perf Rapid
        div(data-id='30+0')
          .clock 30+0
          .perf Classical
        div(data-id='30+20')
          .clock 30+20
          .perf Classical
        .custom(data-id='custom') Custom
    
    
      .lobby__app__content.lreal_time
        i.toggle.toggle-filter(data-icon='%' title='Filter games')
        i.toggle(title='Graph' data-icon='9')
        table.hooks__list
          thead
            tr
              th
              th Player
              th.sortable.sort
                i.is
                | Rating
              th.sortable
                i.is
                | Time
              th Mode
          tbody
            tr.hook.join(title='Join the game | Blitz' data-id='kdid350l')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/JOHN-2') JOHN-2
              td 1915
              td &half;+4
              td
                span(data-icon=')') Rated
            tr.hook.join.disabled(title='' data-id='TDxmkhdk')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/Eleanor-Rigby') Eleanor-Rigby
              td 1892
              td 5+0
              td
                span(data-icon=')') Casual
            tr.hook.join(title='Join the game | Classical' data-id='j9oFu2BC')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/mauroivannobile') mauroivannobile
              td 1762
              td 60+30
              td
                span(data-icon='+') Rated
            tr.hook.join(title='Join the game | Classical' data-id='1bCVBOqc')
              td
                span.is.is2.color-icon.white
              td
                span.ulink.ulpt(data-href='/@/Moldy') Moldy
              td 1712
              td 20+8
              td
                span(data-icon='+') Rated
            tr.hook.join(title='Join the game | Classical' data-id='FwHTSQ0m')
              td
                span.is.is2.color-icon.white
              td
                span.ulink.ulpt(data-href='/@/Jovem36') Jovem36
              td 1692
              td 30+0
              td
                span(data-icon='+') Rated
            tr.hook.join(title='Join the game | Rapid' data-id='rwbtq5qs')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/risato123') risato123
              td 1679
              td 16+0
              td
                span(data-icon='#') Rated
            tr.hook.join(title='Join the game | Rapid' data-id='biRL76x4')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/azorahoi') azorahoi
              td 1647
              td 5+8
              td
                span(data-icon='#') Rated
            tr.hook.join.disabled(title='' data-id='RGLqqy7R')
              td
                span.is.is2.color-icon.black
              td
                span.ulink.ulpt(data-href='/@/Zamiatin') Zamiatin
              td 1546
              td 5+5
              td
                span(data-icon='#') Rated
            tr.hook.join(title='Join the game | Classical' data-id='nUFNEJON')
              td
                span.is.is2.color-icon.white
              td
                span.ulink.ulpt(data-href='/@/CCIM-Joshua-2009') CCIM-Joshua-2009
              td 1500?
              td 180+0
              td
                span(data-icon='+') Casual
            tr.variants
              td(colspan='5') &mdash; Variant &mdash;
            tr.hook.join(title='Join the game | Horde' data-id='WjafuIkm')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/MAXCUP2012') MAXCUP2012
              td 1743
              td 1+0
              td
                span(data-icon='_') Rated
            tr.hook.join(title='Join the game | Crazyhouse' data-id='TpdYTAvl')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/Kiriu_66') Kiriu_66
              td 1578
              td 10+0
              td
                span(data-icon='') Rated
            tr.hook.join.disabled(title='' data-id='xNJNz7AV')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/Stede') Stede
              td 1517
              td 10+5
              td
                span(data-icon='.') Rated
            tr.hook.join.disabled(title='' data-id='mFYlxC0J')
              td
                span.is.is2.color-icon.random
              td
                span.ulink.ulpt(data-href='/@/Nuke_Gambit') Nuke_Gambit
              td 1477
              td 0+1
              td
                span(data-icon='>') Casual

    
    .lobby__about
      a(href='/about') About Lichess
      a(href='/faq') FAQ
      a(href='/contact') Contact
      a(href='/mobile') Mobile App
